In [129]:
from pathlib import Path
import glob
import re
import numpy as np
import pandas as pd
import xlsxwriter
import base64

In [130]:
files = glob.glob('THUMBNAILS/LEFT/*')

In [131]:
re.split("[\./]+",files[2])[2]

'TY17-0102A-L'

In [132]:
df = pd.read_excel('STOCK - REODER LEVELS.xlsx',engine='openpyxl',sheet_name='ODOO',usecols=[0,1,2,3])

In [133]:
image_dic = {}
for img in files:
    name_path = re.split("[\./]+",img)[2]
    # name_path = name_path.replace(" ", "")
    # name_path = name_path.replace(" (1)", "")
    image_dic[name_path] =base64.b64encode(open(f'{img}', "rb").read()).decode('utf8')

In [134]:
img_df = pd.DataFrame(list(image_dic.items()),columns = ['Supplier/Supplier Product Code','image'])

In [99]:
# img_df['Internal Reference']= img_df['Internal Reference'].str.replace(' ', '')

In [135]:
df_merged= pd.merge(df,
img_df,
how='outer',
on='Supplier/Supplier Product Code')

In [121]:
df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2926 entries, 0 to 2925
Data columns (total 5 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   ITEMID                          2821 non-null   float64
 1   External ID                     2821 non-null   object
 2   Internal Reference              2821 non-null   object
 3   Supplier/Supplier Product Code  2909 non-null   object
 4   image                           720 non-null    object
dtypes: float64(1), object(4)
memory usage: 137.2+ KB

In [136]:
clean_df=df_merged[~df_merged['image'].isna()]

In [103]:
clean_df.to_csv('output/right-images.csv')

In [138]:
clean_df[clean_df['Internal Reference'].isna()]['Supplier/Supplier Product Code']

2823     TY01-1706-L
2824     MZ10-0112-L
2825     NS01-1006-L
2826     TY01-2213-L
2827     NS34-0506-L
            ...
2909    MT05-0206C-L
2910     NS01-1201-L
2911     TY05-1504-L
2912     MT05-0306-L
2913     TY04-1250-L
Name: Supplier/Supplier Product Code, Length: 91, dtype: object